extends layout

block content
    #header
    #app
    #footer


    h1= title
    p Welcome to #{title}

    if user
        p id: #{user._id}
        p user: #{user.username}
        p email: #{user.email}
        p admin: #{user.admin}


    table.table.table-striped(ng-controller='BillListController')
        thead
            tr
                th #
                th Bill
                th Due Date
                th Amount
                th Pd Date
                th Pd Amt
                th Conf
        tbody.table-hover
            tr(ng-repeat='bill in bills')
                td {{bill.id}}
                td {{bill.name}}
                td {{bill.due_date}}
                td {{bill.amount | currency}}
                td {{bill.pd_date}}
                td {{bill.pd_amt | currency}}
                td {{bill.conf}}