extends layout

block content
    #header
    #app
    #footer


    h1= title
    p Welcome to #{title}

    if user
        p id: #{user._id}
        p user: #{user.username}
        p email: #{user.email}
        p admin: #{user.admin}


    table.table.table-striped(ng-controller='BillListController')
        thead
            tr
                th #
                th Bill
                th Due Date
                th Amount
                th Pd Date
                th Pd Amt
                th Conf
        tbody.table-hover
            tr(ng-repeat='bill in bills')
                td {{bill.id}}
                td {{bill.billName}}
                td {{bill.billDueDate}}
                td {{bill.billAmount | currency}}
                td {{bill.billPdDate}}
                td {{bill.billPdAmt | currency}}
                td {{bill.billConf}}


    div(ng-controller='NewBillCtrl')
        a(ng-click='toggleForm()' class='btn btn-primary') Add
        form(role='form' ng-show='formState' ng-submit='SaveData()')
            .form-group
                label(for='billName') Bill
                input(type='text' class='form-control input-lg' name='billName' placeholder='Enter Bill' ng-model='bill.billName')

            .form-group
                label(for='billDueDate') Due Date
                input(type='text' class='form-control input-lg' name='billDueDate' placeholder='Enter due date (5/11/2014' ng-model='bill.billDueDate')

            .form-group
                label(for='billAmount') Amount
                input(type='text' class='form-control input-lg' name='billAmount' placeholder='Enter amount due' ng-model='bill.billAmount')

            input(type='submit' class='btn btn-success' value='Save')