extends layout

block content
    #header
    #app
    #footer


    h1= title
    p Welcome to #{title}

    if user
        p id: #{user._id}
        p user: #{user.username}
        p email: #{user.email}
        p admin: #{user.admin}

    hr

    div(ng-controller='BillListCtrl')

        form.form-inline(ng-submit='FilterList')
            .form-group
                label.sr-only Search
                input(type='text' class='form-control' placeholder='Filter by Name' ng-model='search')
            .form-group
                select.form-control(ng-model='sortExpr')
                    option(value='') Sort by
                    option(value='billName') Bill Name
                    option(value='billDueDate') Due Date
            //input(type='submit' class='btn btn-default' value='Search')

        hr

        table.table.table-striped
            thead
                tr
                    th Bill
                    th Due Date
                    th Amount
                    th Pd Date
                    th Pd Amt
                    th Conf
            tbody.table-hover
                tr(ng-repeat='bill in bills | filter: search:billName | orderBy: sortExpr')
                    td {{bill.billName}}
                    td {{bill.billDueDate | momentCalendar}}
                    td {{bill.billAmount | currency}}
                    td {{bill.billPdDate | momentFromNow}}
                    td {{bill.billPdAmt | currency}}
                    td {{bill.billConf}}


    div(ng-view)

    div(ng-controller='NewBillCtrl')
        a(ng-click='toggleForm()' class='btn btn-primary') Add
        hr
        form(role='form' ng-show='formState' ng-submit='SaveData()')
            .form-group
                label(for='billName') Bill
                input(type='text' class='form-control input-lg' name='billName' placeholder='Enter Bill' ng-model='bill.billName')

            .form-group
                label(for='billDueDate') Due Date
                input(type='text' class='form-control input-lg' name='billDueDate' placeholder='Enter due date (5/11/2014' ng-model='bill.billDueDate')

            .form-group
                label(for='billAmount') Amount
                input(type='text' class='form-control input-lg' name='billAmount' placeholder='Enter amount due' ng-model='bill.billAmount')

            input(type='submit' class='btn btn-success' value='Save')